<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>Python,</li>
    <li>R,</li>
    <li>SQL.</li>
   
</ul>

Some of the commonly used libraries used by Data Scientists include:
<ul>
    <li>pandas,</li>
    <li>numpy,</li>
    <li>keraas,</li>
    <li>pytorch.</li>
</ul>

<table>
<tr>
<th>Data Science Tools</th>

</tr>

<tr>
<td>Visual Studio</td>

</tr>

<tr>
<td>PyCharm</td>

</tr>
    
<tr>
<td>Spyder</td>

</tr>
    
    
</table>

<h2> Author<h2>

Jhon Travolta

 name

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

or

In [4]:
200//60

3